<md-toolbar>
  <button (click)="sidenav.toggle()" class="toolbar-button" md-mini-fab><md-icon>menu</md-icon></button>
  <div class="toolbar-button-row">
    <a md-button
      *ngFor="let topLink of links" href="#">
      <md-icon>{{topLink.icon}}</md-icon> &nbsp; {{topLink.label}}
    </a>
  </div>
  <span>{{title}}</span>
</md-toolbar>

<md-sidenav-container>
  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <nav>
      <a md-button
        class="nav-link"
        *ngFor="let link of links"
        href="#">
        <md-icon>{{link.icon}}</md-icon> &nbsp; {{link.label}}
      </a>
    </nav>
  </md-sidenav>

  <div class="app-content">
    <div class="form-search"
         fxLayout="row"
         fxLayoutAlign="space-between center">
      <search (getFilms)="addFilms($event)"></search>
      <card-view (selectCardView)="selectCardView($event)"></card-view>
    </div>
    <film-list></film-list>
  </div>
</md-sidenav-container>
<button class="goTop" [ngClass]="{show: showBtn}" md-mini-fab [title]="'Наверх'" md-button (click)="goTop()"><md-icon>arrow_upward</md-icon></button>


