
<md-card class="film-card" [ngClass]="cardView === 1 ? 'card-vertical' : 'card-horizontal'">
	<img class="film-card__image" md-card-image src="{{filmItem.Poster}}">
	<md-card-content>
		<md-card-title>{{filmItem.Title}}</md-card-title>
		<p>Релиз: {{filmItem.Released}}</p>
		<p>{{filmItem.Plot}}</p>
		<p>Жанр: {{filmItem.Genre}}</p>
		<p>Страна: {{filmItem.Country}}</p>
		<p>Автор: {{filmItem.Writer}}</p>
		<p>Директор: {{filmItem.Director}}</p>
	</md-card-content>
	<md-card-actions class="film-card__footer">
		<button md-button>Подробнее</button>
	</md-card-actions>
</md-card>
