
.film-card {
  margin-bottom: 50px;
  height: calc(100% - 100px);
}
.card-horizontal {
  position: relative;
  display: flex;
  height: auto;
}
.card-horizontal .film-card__image {
  margin: 0 10px 0 0;
  width: auto;
}
.card-horizontal .film-card__footer {
  position: absolute;
  bottom: 24px;
  right: 24px;
  margin: 0;
}